@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    font-family: 'Jost', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 244, 247, 1);
    color: rgba(22, 66, 127, 1);
}

button
{
    font-family: 'Jost', sans-serif;
}

header
{
    display: block;
    text-align: center;
    font-weight: 300;
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(22, 66, 127, 1);
    padding: 25px;   
    font-size: 16px;
}

footer
{
    color:rgba(240, 244, 247, 1);
    background-color: rgba(22, 66, 127, 1);
    font-size: 16px;
    font-weight: 300;
    
    height: 300px;
    padding: 67px 200px;
    overflow: hidden;

}

footer table
{
    border-collapse: separate;
    margin: 0 auto;
    width: 100%;

    padding-bottom: 50px;
}

footer table th
{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}

.menu
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 60px;
    width: 100%;
}

#menuchoose
{
    padding-top: 20px;
    display: flex;
    gap: 32px;
}


.menu a:hover
{
    text-decoration: underline;
}

.menu img:first-child
{
    max-width: 60px;
}

.menu img:last-child
{
    margin-top: 20px;
    max-width: 51px;
    max-height: 35px;
}


a
{
    text-decoration: none;
    color: inherit;
}


.maininfo
{
    width: 100%;
    height: 650px;
    padding-left: 164px;
    padding-top: 122px;

    background-image: linear-gradient(to bottom, rgba(22, 66, 127, 0) 0%, rgba(138, 155, 181, 0.2) 50%, rgba(240, 244, 247, 1) 100%), url('/public/static/new_cat.png'), linear-gradient(rgba(22, 66, 127, 1) 0%, rgba(138, 155, 181, 1) 65%, rgba(240, 244, 247, 1) 100%);
    background-size: cover;
    
    background-position: center;

    color:rgba(240, 244, 247, 1)
}

.maininfo p
{
    width: 40%;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

#mainhead
{
    padding-bottom: 18px;
    font-size: 48px;
    font-weight: 500;
    width: 40%;
    margin: 0;
}

.maininfo button
{
    border-radius: 42px;
    color: rgb(255, 255, 255);
    transition: .2s linear;
    background: rgba(22, 66, 127, 1);
    border: 0;
    padding: 0 20px;
    margin-top: 40px;
    width: 203px;
    height: 84px;
    line-height: 2.5;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.maininfo button:hover
{
    box-shadow: 0 0 0 2px rgba(240, 244, 247, 1), 0 0 0 4px rgba(22, 66, 127, 1);
    cursor: pointer;
}

.mainlist
{
    padding: 0 40px;
}

.mainlist ul
{
    font-size: 1.2rem;
}


.description
{
    margin: auto;
    width: 100%;
}
/*-------------------------------------------------2 СЕКЦИЯ--------------------------------------------------------*/

#second
{
    padding: 67px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.offer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    font-size: 24px;
    font-weight: 300;
}

.circle-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*max-width: 210px;*/
    width: 100%;
    
}

.circle-item .description {
    max-width: 250px; 
}

.circle
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*-------------------------------------------------3 СЕКЦИЯ--------------------------------------------------------*/
#third
{
    padding: 67px 280px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    
    padding-bottom: 200px;
}

.why_us
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    max-width: 850px;

    margin: 0 auto;
}

.rectangle-item
{
    display: flex;
    justify-content: row;
    gap: 60px;
    font-size: 24px;
    font-weight: 300;
}

.rectangle
{
    width: 430px;
    height: 630px;
    background-color: rgba(22, 66, 127, 1);
    border-radius: 50px;  
    
    border: 1px;
}

.rectangle-item .description {
    width: 365px;
}

#fourth
{
    padding-top: 67px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 300px;
}

#fourth button
{
    border-radius: 42px;
    color: rgb(255, 255, 255);
    transition: .2s linear;
    background: rgba(22, 66, 127, 1);
    border: 0;
    padding: 0 20px;
    margin-top: 40px;
    width: 203px;
    height: 84px;
    line-height: 2.5;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#fourth button:hover
{
    box-shadow: 0 0 0 2px rgba(240, 244, 247, 1), 0 0 0 4px rgba(22, 66, 127, 1);
    cursor: pointer;
}



#servicetable
{
    table-layout:fixed;
    width: 80%;
    border-collapse: collapse;
    
    margin: 50px auto;

    border-top: 7px solid rgb(86, 181, 184);
    border-bottom: 7px solid rgb(86, 181, 184);
}

#servicetable th
{
    font-size: 1.2rem;
    border-right: 1px solid rgb(86, 181, 184);
    border-left: 1px solid rgb(86, 181, 184);

    padding: 8px;
}
#servicetable td
{
    border-right: 1px solid rgb(86, 181, 184);
    border-left: 1px solid rgb(86, 181, 184);

    padding: 8px;
}

#servicetable td
{
    border-bottom: 1px solid rgb(86, 181, 184);
    border-top: 1px solid rgb(86, 181, 184);

    padding: 8px;
}

#servicetable caption
{
    font-size: 2rem;
    padding-bottom: 15px;
}

.downloadserv
{
    border-radius: 3px;
    color: rgb(255, 255, 255);
    transition: .2s linear;
    background: linear-gradient(45deg, rgb(152, 207, 195) 6%, rgb(86, 181, 184));
    border: 0;
    padding: 0 20px;
    margin: 40px 40px;
    line-height: 2.5;
    font-size: 1.7rem;
}

.downloadserv:hover
{
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(86, 181, 184);
    cursor: pointer;
}

.helpbutton
{
    text-align: center;
    margin: 0;
}



@media(max-width: 768px)
{
    header {
        font-size: 1.5rem;  /* Умеренный размер для планшетов */
    }
    .menu {
        gap: 30px;  /* Меньше расстояние между пунктами */
    }
}

@media(max-width: 480px)
{
    header
    {
        display: none;
    }
}

